<%= form_with(model: @transactional, url: create_user_transaction_path, data: {turbo: false}) do |form| %>
  <% if @transactional.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(@transactional.errors.count, "error") %> prohibited this @transactional from being saved:</h2>

      <ul>
        <% @transactional.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div>
    <%= form.label "To:" %>
    <%= form.collection_select(:user_id, @receiver, :user_id, :address ) %>
    <%= form.label "Amount:" %>
    <%= form.text_field :amount %>
  </div>
  <br>
  <div>
    <%= form.label "Note:" %>
    <%= form.text_field :note %>
  </div>
  <br>
  <%= form.submit class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
<% end %>
<br>
